.grid-container {
  --columns: 1; // Оголошуємо CSS-змінну

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(var(--columns), 200px);
  padding: 50px 40px;
  gap: 46px 48px;

  @media (min-width: 488px) {
    --columns: 2;
  }

  @media (min-width: 768px) {
    --columns: 3;
  }

  @media (min-width: 1024px) {
    --columns: 4;
  }
}
